<component name="libraryTable">
  <library name="springframework:spring-webmvc:1.2" type="repository">
    <properties maven-id="springframework:spring-webmvc:1.2" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>